
<center>
  <h3>Asset Mapping
</center>

<div class="col-md-12" id="assetmaplisttbl">
  <div class="panel">
    <div class="panel-heading">
      <span class="panel-icon"></span>
      <span class="panel-title"> Asset Mapping List</span>
      <button type="button" title="Add New Record" class="btn active btn-info btn-sm pull-right"
        onclick="assetmapopenclose();" style="margin-top: 5px;margin-left:8px"><span class="glyphicon glyphicon-plus">
        </span></button>
        <button type="button" class="btn active btn-info btn-sm pull-right" onclick="get_Deleted_Asset_Map_Data();"
        style="margin-top: 5px;margin-left:8px" title="Deleted Data"><i class="ps-icon fa fa-recycle"></i> </span></button>
      <button type="button" class="btn active btn-info btn-sm pull-right" title="Refresh"
        onclick="get_Asset_Map_Data();" style="margin-top: 5px;margin-left:8px"><span
          class="glyphicon glyphicon-refresh"> </span></button>
    </div>
    <div class="panel-body" id="get_asset_map-panel">

      <table class="table table-striped table-bordered datatab" id="asset_map_table">
        <thead class="thead-light">
          <tr>
            <th>Action</th>
            <th>Data Name</th>
            <th>Floor Location</th>
            <th>Datacenter Room</th>
            <th> Rack Name</th>
            <th>Racku</th>
            <th>Asset Name</th>
            <th>Status</th>
           <th>Date</th> 
          </tr>
        </thead>
      </table>
      </table>
    </div>
    <div class="panel-body" id="deleted_asset_map-panel">

      <table class="table table-striped table-bordered datatab" id="deleted_asset_map_table">
        <thead class="thead-light">
          <tr>
            <th>Data Name</th>
            <th>Floor Location</th>
            <th>Datacenter Room</th>
            <th> Rack Name</th>
            <th>Racku</th>
            <th>Asset Name</th>
            <th>Status</th>
           <th>Date</th> 
          </tr>
        </thead>
      </table>
      </table>
    </div>
  </div>
</div>

<section id="content_form" class="table-layout">

  <div class="tray tray-center" style="height: 610px;">
    <div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;">
      <div class="panel heading-border panel-primary">
        <form id="asset_map_form" method="post" onsubmit="return false;">
          <div class="panel-body bg-light">
            <button type="reset" class="close" onclick="assetmapopenclose_()">Back</button>
            <div class="section-divider mt20 mb40">
              <span>Asset Mapping Form </span>
            </div>

            <div class="section row" id="spy1">


              <div class="col-md-6">
                <label for="DCName" class="field prepend-icon"><b>Datacenter Name:</b></label>
                <select id="n_datacenter_id" class="form-control input-sm" name="n_datacenter_id"
                  data-validation="required" onchange="get_floor_loc();">
                  <option label="select Datacenter"></option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="floor" class="field prepend-icon"><b>Floor Location :</b></label>
                <select id="n_door_id" class="form-control input-sm" name="n_door_id" data-validation="required"
                  onchange=" get_data_center_room();">
                  <option label="Select floor"></option>
                </select>
              </div>



            </div>
            <div class="section row" id="spy1">
              <div class="col-md-6">

                <label for="room" class="field prepend-icon"><b>Room No:</b></label>
                <select id="n_room_id" class="form-control input-sm" name="n_room_id" data-validation="required"
                  onchange=" get_rack();">
                  <option label="Select Room Number"></option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="RackName" class="field prepend-icon"><b>Rack Name:</b></label>
                <select id="n_rack_id" class="form-control input-sm" name="n_rack_id" data-validation="required"
                  onchange="get_n_u_id();">
                  <option label="select Rack"></option>
                </select>
              </div>
            </div>
            <div class="section row" id="spy1">

              <div class="col-md-6">
                <label for="RackU" class="field prepend-icon"><b>Racku :</b></label>
                <select id="n_u_id" class="form-control input-sm" name="n_u_id" data-validation="required" multiple>
                  <option label="select Racku" disabled></option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="Asset Description" class="field prepend-icon"><b>Asset Name:</b></label>
                <select id="n_asset_id" class="form-control input-sm" name="n_asset_id" data-validation="required">
                  <option label="select Asset"></option>
                </select>

              </div>
            </div>

            <div class="section row" id="spy1">
              <div class="col-md-6">

                <label for="Status" class="field prepend-icon"><b>Status:</b></label>
                <select id="n_status_no" class="form-control input-sm" name="n_status_no" data-validation="required">
                  <option label="select Status"></option>
                </select>
              </div>
              <div class="col-md-6">

                <label for="Date" class="field prepend-icon"><b>Date:</b></label>
                <input type="date" class="form-control input-sm" id="d_assign_date" placeholder="Assign Date"
                  name="assign_date" required>
              </div>


            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 ">
                <input type="hidden" id="n_asset_mapping_id" class="form-control" name="n_asset_mapping_id">
                <button type="button" class="btn active btn-info btn-sm" id="save_asset_map">Save</button>
                <button type="button" class="btn active btn-info btn-sm" id="update_asset_map"
                  style="display: none;">Update</button>
                <button type="reset" id="reset" class="btn active btn-warning btn-sm"
                  onclick="assetmapopenclose_()">Back</button>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>

  </div>

</section>


<script>
  $.validate({
    modules: 'html5,file'
  });
  $("#content_form").hide();

</script>
<script src="../assets/javascript/asset_map.js"></script>