<center><h3>Data Center Door Master</center>




    <div class="col-md-12">
      <div class="panel">
        
      <div class="panel-heading">
      <span class="panel-icon"></span>
      <span class="panel-title"> Data Center Door Master</span>
      <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModalfordcdoor"
      onclick="nulldata();" style="margin-top: 5px;">ADD Data Center Door 
     </button>
       </div>
       <br>
      <div class="panel-body">
        
          <table class="table table-stripped table-condensed table-sm" id="doormaster" style="width:100%">
            <thead>
              <tr role="row">
                <th>Datacenter Name</th>
                <th>Door Sensor Id</th>
                <th>Floor Id</th>
                <th>Location Details</th>
                <th>Action</th>
              </tr>
            </thead>
          </table>
      </div>
      </div>
      </div>
    
    
      <div class="modal" id="myModalfordcdoor">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
    
                <div class="modal-header">
                    <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Form</h4>
    
                </div>
                <br>
    
                <div class="modal-body" style="margin-top: -30px;">
                    <form id="form-door" method="post" onsubmit="return false;">
                        <input type="hidden" class="form-control" id="n_door_id" placeholder="Enter email" name="n_door_id">

    
                     
    
                        <div class="row">
                            <div class="col-md-6">
                                <label for="DataCenter">Data Center Name:</label>
                                <select id="n_datacenter_id" class="form-control form-control-sm" name="n_datacenter_id"
                                    data-validation="required" onchange="get_location();">
                                   
                                </select>
                            </div>
                          
                            <div class="col-md-6">
                                <label for="s_door_sensor_id">Door Sensor Id:</label>
                                <input type="text" class="form-control" id="s_door_sensor_id" placeholder="Enter Door Sensor Id"
                                    name="s_door_sensor_id" data-validation="required">
        
                            </div>
                        </div>
    
    
                        
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="s_floor_loc">Floor Id:</label>
                                    <input type="text" class="form-control" id="s_floor_loc" placeholder="Enter Floor Location"
                                        name="s_floor_loc" data-validation="required">
            
            
                                </div>

                                <div class="col-md-6">
                                    <label for="n_data">Location Details:</label>
                                    <select id="s_datacenter_location" name="s_datacenter_location" class="form-control" required placeholder="select location">
                                    </select>
                                    <!-- <input type="text" class="form-control" id="s_datacenter_location" placeholder="Enter Location details"
                                    name="s_datacenter_location" data-validation="required">
         -->
        
                                </div>
                      
                           
                        </div>
                       

                        
                        <br><br>
                        <button type="submit" class="btn active btn-info btn-sm" id="savedoor">Save</button>
                        <button type="submit" class="btn active btn-info btn-sm" id="updatedoor">Update</button>
                        <button type="reset" id="reset" class="btn active btn-warning btn-sm">Reset</button>
                </div>
            </div>
            </form>
        </div>
    
    
    
    
    </div>
    <script>
      $.validate({
        modules: 'html5'
      });
      modalopen();
      function modalopen(){
        if(window.location.hash.split("/")[1]=="floor?"){
          $('#myModalfordcdoor').modal('show');
          // $('#myModalfordcdoor').open();
          // data-toggle="modal" data-target="#myModalfordcdoor"
        }
      }
      //   if(window.location.hash.split("/")[1]=="floor?")
        
      // }
    </script>
   <script src="../../assets/javascript/datacenter_door.js"></script>